@media all and (max-width: 359px) and (min-width: 300px) {
    /* 320px= portrait */
}

@media all and (max-width: 479px) and (min-width: 360px) {
    /* 360px= portrait */
}

@media all and (max-width: 600px) and (min-width: 480px){
    /* 320px (rotation) = landscape */
}
@media all and (max-width: 749px) and (min-width: 601px){
    /* 360px (rotation) =portrait*/
}
@media all and (max-width: 1024px) and (min-width: 979px){
    /* 768px (rotation)=landscape */
}
/* not sure if these do anything? */

html {
    font-size: auto;
    font: roboto, arial, sans-sarif, noto, YT sans, roboto mono;
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    background-color: #f9f9f9;
}

p {
    font-size: .8rem;
}

header {
    margin-top: 20px;
    /* background-color: pink; */
    width: 100%;
    height: 50px;
}
/* inline-block, block, flex... difference? */
/* block is good for aligning along te 2 axes */
.navbar {
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
    margin-left: -30px;
    box-sizing: border-box;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
  }

.navbar img {
    height: 30px;
    margin: 5px;
}

.youtube-logo img {
    height: 35%; 
    margin-top: -9%;
 }

.camera-icon {
    display: flex;
    margin-left: 25em;
}

.search-bar {
    margin-top: 6px;
    height: 20px;
    margin-left: 30%;
    width: 37vw;
}

form.search button {
    height: 26px;
    width: 7%;
    margin-left: 49.7%;
    margin-top: -26.5px;
    position: absolute;
    border-color: rgb(177, 172, 172);
    border-width: .5px;
    background-color: white;
}

/* sidebar */

.side-box {
    display: flex;
    justify-content: flex-end;
    
}

.sidebar {
    /* background-color: cornflowerblue; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    border: right;
    /* float: right; */
    width: 28%;
    margin-bottom: 10px;
    height: 100%;
}

.autoplay {
    position: relative;
    /* display: inline-block; */
    margin-left: 10em;
    margin-top: -2.55em;

}

.up-next {
    font-size: 17px;
}


/* Autoplay toggleswitch */
.switch {
    position: absolute;
    display: inline-block;
    margin-left: 18%;
    width: 30px;
    height: 16px;
    margin-top: -1.5em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}
/* end toggle switch */

/* line between 1st side video */
hr {
    display: flex;
    /* margin-left: .5em;
    margin-right: .5em; */
    margin-bottom: 5%;
    margin-top: -1%;
}

.side-description {
    box-sizing: border-box;

    border: 10px;
    width: 100px;
    position: absolute;
    vertical-align: top;
}

.side-description h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    width: 9.9rem;
    margin-left: 7%;
}

.side-description p {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: .85rem;
    margin-left: 7%;
}

h1 {
    border-top: 1px solid gray;
    width: 85%;
    margin-left: 5%;
}

.video-thumbnail {
    width: 58%;
    margin-bottom: 5%;
}
/* sidebar end*/

/* div {
    height: 500px;
    border-color: black;
    border-width: 5px;;
} */


/* box w/ video and info */
.main-video {
     margin-top: -79.65%;
   /* bottom: 0;
    height: 200%; */
     width: 70%;
    /* height: 80%; */
    /* overflow: hidden; */
   /* background-color: pink; */
   /* box-sizing: border-box; */
   display: flex;
   /* flex-direction: row; */
   justify-content: space-between;
   align-items: top;
   flex-wrap: wrap;
   /* position: absolute; */
}

 .video {
    display: flex;
    /* justify-content: space-between; */
    /* background-color: blueviolet; */
      /* position: absolute; */
    /* display: flex; */
    min-width: 83%;
    min-height: 400px;
    /* width: auto; */
    /* object-fit: fill; */
   margin-top: 5%;
    margin-left: 3%;
    /* object-fit: cover; */
   /* margin-right: 50%; */
    /* transform: translate(-50%, -50%); */
    /* can i make this dynamic? stretch to fit in the screen */
/* says vid is naaliable... bc wifi or something else?? */
}

.info {
/* .main-video h4 { */
    margin-bottom: 1.5%;
    margin-left: 2.9%;
    /* display: flex;
    position: relative;
    margin-top: 5em;
    margin-left: 1em;*/
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background-color: cyan; */
} 

/* .info h4 {
    background-color: darkolivegreen;
} */
 .info p {
    /* background-color: red; */
    margin-left: -65.1%;
    margin-top: 10%;
   /* display: flex;
    margin-left: -34.5%;
    margin-top: 56%;
    font-size: .9em;
    position: relative; */
}

.lss-icons {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 15%;
    /* position: relative;
    display: flex;
    margin-top: 180%;
    margin-left: 120%;
    width: 125%; */
}



/* hr line between vid description and one below */
.line-below-vid {
    display: flex;
    position: relative;
    width: 67%;
    margin-left: 2%;
/* border-bottom: 0; */
}










/* section below main video descript (orange) */
.video-description {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    /* background-color: coral; */
    width: 70%;
    /* position: relative; */
    margin-top: -4%;
    font-family: roboto, arial;
    height: auto;
}

.ra-brand, .short-description, .show-more {
    margin-left: 3.5em;
    flex-direction: column;
}
.ra-brand {
    margin-top: -2.3em;
    margin-bottom: 1.75em;
}
.short-description {
    margin-bottom: 2em;
}

/* rounds corners of icon for ra */
.ra-icon {
    border-radius: 25px;
    margin-left: -1em;
}

/* what is this? better name */
.more-logos {
    list-style-type: none;
}

.subscribe-btn {
    background: rgb(204, 7, 7);
    width: 7rem;
    height: 2.5rem;
    color: white;
    margin-left: 58em;
    position: absolute;
    margin-top: -11em;
}

.short-description {
    font-size: 15px;
    font-family: roboto, arial;
}

.show-more {
    margin-left: 4em;
    color: dark-gray;
}

/* section below main video descript */



.line-before-comm {
    display: flex;
    position: relative;
    width: 67%;
    margin-left: 2%;
    margin-bottom: 0;
}



.comments {
    box-sizing: border-box;
    font-family: roboto, arial;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    /* position: relative; */
    /* background-color: darkgray; */
    width: 70%;
    margin-left: 2em;
    /* www.freecodecamp.org/forum/t/how-to-make-a-comment-box-in-html-css-javascript-or-jquery/248111/4 */
}

.comments h5 {
    /* order: 1; */
    font-size: 15px;
    text-emphasis: none;
}

.top-box {
    display: flex;
}

.comment-box {
    display: flex;
    width: 100%;
    margin-left: 2%;
}

.completed-comment-box {
    display: flex;
    width: 100%;
    margin-left: 2%;
    margin-top: 1em;
}

.sort-by-btn {
    /* order: 2; */
    margin-top: .6em;
    width: 6.2em;
    margin-left: 1em;
}

.comm-person-icon {
    /* order: 3; */
    height: 37px;
    margin-right: 0;
}

/* .comment-box img {
    height: 30px;
    margin-right: 0;
    /* order: 4; */
/* } */ 

.specific-comment {
    /* order: 5; */
    border: darkred;
    border-width: 10px;
}

.input-text {
    width: 60em;
    border: none;
    border-bottom: .5px solid darkgrey;
    font-size: 14px;
    background-color: #f9f9f9;
}

.grid {
    /* margin-top: 3em; */
    margin-left: -1em;
}

/* .sort-by-btn::after {
    margin-left: 3em;
    /* right: 100%; */
    /* Content: "SORT BY"
} */ 

/* .text p {
    font-size: 14px;
} */

.comment-name {
    font: roboto, arial, sans-sarif, noto, YT sans, roboto mono;
    font-size: 13px;
    font-weight: bold;
}

.time-of-comment {
    font-weight: none;
    color: rgb(117, 117, 117);

}

.comment-content {
    font: roboto, arial, sans-sarif, noto, YT sans, roboto mono;
    font-size: 14px;
    margin-top: 0.75em;
}

.completed-comment-box button {
    border: none;
    background-color: transparent;
}

.comment-likes img {
    width: 2em;
}

/* .after-comment-box button {
            MAKES IT LIGHT UP WHEN SCROLL OVER
} */

.comment-likes span {
    font-size: 12px;
    font-weight: 500;
    color: rgb(94, 94, 94);

}

.dislike span {
    font-size: 12px;
    color: rgb(94, 94, 94);
}

.comment-replies span {
    font-size: 15px;
    color: rgb(28, 28, 189);
    font-weight: bold;
    font: roboto, arial, sans-sarif, noto, YT sans, roboto mono;
}

.text {
    margin-left: .9em;
}