@media all and (max-width: 359px) and (min-width: 300px) {
    /* 320px= portrait */
}

@media all and (max-width: 479px) and (min-width: 360px) {
    /* 360px= portrait */
}

@media all and (max-width: 600px) and (min-width: 480px){
    /* 320px (rotation) = landscape */
}
@media all and (max-width: 749px) and (min-width: 601px){
    /* 360px (rotation) =portrait*/
}
@media all and (max-width: 1024px) and (min-width: 979px){
    /* 768px (rotation)=landscape */
}
/* not sure if these do anything? */

html {
    font-size: auto;
    font: roboto, arial, sans-sarif, noto, YT sans, roboto mono;
}

p {
    font-size: .8rem;
}

header {
    margin-top: 20px;
    /* background-color: pink; */
    width: 100%;
    height: 50px;
}
/* inline-block, block, flex... difference? */
/* block is good for aligning along te 2 axes */
.navbar {
    list-style-type: none;
    display: flex; 
    margin-left: -30px;
    
}

.navbar img {
    height: 25px;
    margin: 5px;
}

.youtube-logo img {
    height: 22%; 
    margin-top: -1%;
 }

.camera-icon {
    margin-left: 150px;
}

.search-bar {
    margin-top: 6px;
    height: 20px;
    margin-left: 30%;
    width: 37vw;
}

form.search button {
    height: 26px;
    width: 7%;
    margin-left: 49.7%;
    margin-top: -26.5px;
    position: absolute;
    border-color: rgb(177, 172, 172);
    border-width: .5px;
    background-color: white;
}

/* sidebar */
.sidebar {
    /* background-color: cornflowerblue; */
    border: right;
    float: right;
    width: 28%;
    margin-bottom: 10px;
    height: 100%;
}

.autoplay {
    position: relative;
    /* display: inline-block; */
    margin-left: 40%;
    margin-top: -13.77%;

}

/* Autoplay toggleswitch */
.switch {
    position: absolute;
    display: inline-block;
    margin-left: 22%;
    width: 30px;
    height: 16px;
    margin-top: -3.77%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}
/* end toggle switch */

/* line between 1st side video */
hr {
    display: block;
    /* margin-left: .5em;
    margin-right: .5em; */
    margin-bottom: 5%;
    margin-top: -1%
}

.side-description {
    border: 10px;
    width: 100px;
    position: absolute;
    vertical-align: top;
}

.side-description h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.side-description p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .7rem;
}

h1 {
    border-top: 1px solid gray;
    width: 85%;
    margin-left: 5%;
}

.video-thumbnail {
    width: 58%;
    margin-bottom: 5%;
}
/* sidebar */


.main-video {
    background-color: aquamarine;
    width: 70%;
}

.video {
    width: 490px;
    /* can i make this dynamic? stretch to fit in the screen */
/* says vid is naaliable... bc wifi or something else?? */
}

.video-description {
    background-color: coral;
    width: 70%;
}

.more-logos {
    list-style-type: none;
    display: flex; 
    margin-left: -30px;
}

.more-logos li {
    margin-right: 20px;
/* once the margin is above 30 it gets stacked. NO */
}

.subscribers {
    margin-left: 150px;
}

.comments {
    background-color: darkgray;
    width: 70%;
    /* www.freecodecamp.org/forum/t/how-to-make-a-comment-box-in-html-css-javascript-or-jquery/248111/4 */
}

.comment-box {
    display: flex;
    width: 100%;
    margin-left: 2%;
}

.comment-box img {
    height: 30px;
    margin-right: 0;
}

.specific-comment {
    border: darkred;
    border-width: 10px;
}